<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Daily Report</title>
    <script language="javascript" type="text/javascript" src="../Jquery/jquery1.9.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="../Scripts/highcharts.js"></script>
    <script language="javascript" type="text/javascript" src="../Scripts/exporting.js"></script>
    <style type="text/css">
        @page
        {
            margin: 1cm;
        }
        
        html, body
        {
            width: 100%;
            margin: 0px;
        }
        
        .page_brk
        {
            page-break-after: always;
        }
    </style>
</head>
<body>
    <h1>
        Min - Max Summary</h1>
    ###MINMAX_SUMMARY###
    <br />
    <div class="page_brk">
    </div>
    <h1>
        CH4 - Max Summary</h1>
    ###CH4MAX_SUMMARY###
    <br />
    <div class="page_brk">
    </div>
    <h1>
        CH4 - Max Summary Graph</h1>
    ###CH4MAX_SUMMARY_GRAPH###
    <br />
    <div class="page_brk">
    </div>
    ###BOREHOLE_ATTRIBUTES###
</body>
</html>
