<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>###BOREHOLE_NAME###</title>
    <script language="javascript" type="text/javascript" src="../Jquery/jquery1.9.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="../Scripts/highcharts.js"></script>
    <script language="javascript" type="text/javascript" src="../Scripts/exporting.js"></script>
    <style type="text/css">
        @page
        {
            margin: 1cm;
        }
        
        .page_brk
        {
            page-break-after: always;
        }
    </style>
</head>
<body>
    ###BOREHOLE_ATTRIBUTES###
</body>
</html>
